body {
  background: #FFF6E4;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  padding-bottom: 200px;
  font-family: 'Noto Serif', serif, Times;
}

ul {
  list-style-type: none;
}

li a{
  display: block;
  font-size: 18px;
  padding: 20px;
  color: green;
}

a{
  color: blue;
  text-decoration: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

img{
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
}

h2{
  font-size: 27px;
  font-family: 'Source Sans Pro', sans-serif;


}

  background: #D5B87E;
  float: left;
  display: block;
}



}

@media(max-width: 600px) {
  ul li {width: 50% , float: none;}
}

a:hover img{
  border: none !important;
}

a:hover{
  background-color: black;
}

}
